<%= form_for(@type_customer) do |f| %>
  <% if @type_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_customer.errors.count, "error") %> prohibited this type_customer from being saved:</h2>

      <ul>
      <% @type_customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
