<%= form_for(@phone) do |f| %>
  <% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% @phone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :type_phone %><br />
    <%= f.text_field :type_phone %>
  </div>
  <div class="field">
    <%= f.label :motive %><br />
    <%= f.text_field :motive %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :disable_date %><br />
    <%= f.datetime_select :disable_date %>
  </div>
  <div class="field">
    <%= f.label :geoloc %><br />
    <%= f.text_field :geoloc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
