<%= form_for(@citation) do |f| %>
  <% if @citation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citation.errors.count, "error") %> prohibited this citation from being saved:</h2>

      <ul>
      <% @citation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :management_id %><br />
    <%= f.collection_select :management_id, Management.all, :id, :customer, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.datetime_select :day %>
  </div>
  <div class="field">
	<%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :username, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :hour %><br />
    <%= f.datetime_select :hour %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
