<p id="notice"><%= notice %></p>

<p>
  <b>Number call:</b>
  <%= @teleoperation.number_call %>
</p>

<p>
  <b>Wallet:</b>
  <%= @teleoperation.wallet %>
</p>

<p>
  <b>Customer:</b>
  <%= @teleoperation.customer %>
</p>

<p>
  <b>Management status:</b>
  <%= @teleoperation.management_status %>
</p>

<p>
  <b>User:</b>
  <%= @teleoperation.user %>
</p>

<p>
  <b>Quota:</b>
  <%= @teleoperation.quota %>
</p>

<p>
  <b>Date management:</b>
  <%= @teleoperation.date_management %>
</p>

<p>
  <b>Hour management:</b>
  <%= @teleoperation.hour_management %>
</p>

<p>
  <b>Observation:</b>
  <%= @teleoperation.observation %>
</p>

<p>
  <b>Status:</b>
  <%= @teleoperation.status %>
</p>

<p>
  <b>Duration call:</b>
  <%= @teleoperation.duration_call %>
</p>

<p>
  <b>Name responsible:</b>
  <%= @teleoperation.name_responsible %>
</p>

<p>
  <b>Offer:</b>
  <%= @teleoperation.offer %>
</p>

<p>
  <b>Dni:</b>
  <%= @teleoperation.dni %>
</p>

<p>
  <b>Ruc:</b>
  <%= @teleoperation.ruc %>
</p>

<p>
  <b>Reference phone:</b>
  <%= @teleoperation.reference_phone %>
</p>

<p>
  <b>Relationship:</b>
  <%= @teleoperation.relationship %>
</p>

<p>
  <b>Ce:</b>
  <%= @teleoperation.ce %>
</p>

<p>
  <b>Domain:</b>
  <%= @teleoperation.domain %>
</p>

<p>
  <b>Nonel:</b>
  <%= @teleoperation.nonel %>
</p>


<%= link_to 'Edit', edit_teleoperation_path(@teleoperation) %> |
<%= link_to 'Back', teleoperations_path %>
