<%= form_for(@campaign_management) do |f| %>
  <% if @campaign_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign_management.errors.count, "error") %> prohibited this campaign_management from being saved:</h2>

      <ul>
      <% @campaign_management.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :wallet_id %><br />
    <%= f.collection_select :wallet_id, Wallet.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="field">
	<%= f.label :customer_id %><br />
    <%= f.collection_select :customer_id, Customer.all, :id, :code_customer, :prompt => true, :required => true %>
  </div>
  <div class="field">
	<%= f.label :campaig_id %><br />
    <%= f.collection_select :campaig_id, Campaig.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
