<%= form_for(@temporal_management) do |f| %>
  <% if @temporal_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temporal_management.errors.count, "error") %> prohibited this temporal_management from being saved:</h2>

      <ul>
      <% @temporal_management.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :management_id %><br />
    <%= f.collection_select :management_id, Management.all, :id, :customer, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :date_call %><br />
    <%= f.datetime_select :date_call %>
  </div>
  <div class="field">
	<%= f.label :management_status_id %><br />
    <%= f.collection_select :management_status_id, ManagementStatus.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :hour_call %><br />
    <%= f.datetime_select :hour_call %>
  </div>
  <div class="field">
	<%= f.label :number_call_id %><br />
    <%= f.collection_select :number_call_id, NumberCall.all, :id, :number, :prompt => true, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
