<p id="notice"><%= notice %></p>

<p>
  <b>Management:</b>
  <%= @temporal_management.management.customer %>
</p>

<p>
  <b>Date call:</b>
  <%= @temporal_management.date_call %>
</p>

<p>
  <b>Management status:</b>
  <%= @temporal_management.management_status.name %>
</p>

<p>
  <b>Hour call:</b>
  <%= @temporal_management.hour_call %>
</p>

<p>
  <b>Number call:</b>
  <%= @temporal_management.number_call.number %>
</p>


<%= link_to 'Edit', edit_temporal_management_path(@temporal_management) %> |
<%= link_to 'Back', temporal_managements_path %>
