<%= form_for(@offer_customer) do |f| %>
  <% if @offer_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer_customer.errors.count, "error") %> prohibited this offer_customer from being saved:</h2>

      <ul>
      <% @offer_customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :customer_id %><br />
    <%= f.collection_select :customer_id, Customer.all, :id, :code_customer, :prompt => true, :required => true %>
  </div>
  <div class="field">
	<%= f.label :wallet_id %><br />
    <%= f.collection_select :wallet_id, Wallet.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="field">
	<%= f.label :offer_id %><br />
    <%= f.collection_select :offer_id, Offer.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :promotion %><br />
    <%= f.text_field :promotion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
