<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @offer_customer.customer.code_customer %>
</p>

<p>
  <b>Wallet:</b>
  <%= @offer_customer.wallet.name %>
</p>

<p>
  <b>Offer:</b>
  <%= @offer_customer.offer.name %>
</p>

<p>
  <b>Promotion:</b>
  <%= @offer_customer.promotion %>
</p>


<%= link_to 'Edit', edit_offer_customer_path(@offer_customer) %> |
<%= link_to 'Back', offer_customers_path %>
