<p id="notice"><%= notice %></p>

<p>
  <b>Wallet:</b>
  <%= @sale_day.wallet.name %>
</p>

<p>
  <b>Customer:</b>
  <%= @sale_day.customer.code_customer %>
</p>

<p>
  <b>Hour:</b>
  <%= @sale_day.hour %>
</p>

<p>
  <b>User:</b>
  <%= @sale_day.user.username %>
</p>


<%= link_to 'Edit', edit_sale_day_path(@sale_day) %> |
<%= link_to 'Back', sale_days_path %>
