<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code_customer %><br />
    <%= f.text_field :code_customer %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Type_customer_id %><br />
    <%= f.collection_select :Type_customer_id, TypeCustomer.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
	<%= f.label :geoloc_id %><br />
    <%= f.collection_select :geoloc_id, Geoloc.all, :id, :district, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :code_custom %><br />
    <%= f.text_field :code_custom %>
  </div>
  <div class="field">
    <%= f.label :localc %><br />
    <%= f.text_field :localc %>
  </div>
  <div class="field">
    <%= f.label :document %><br />
    <%= f.text_field :document %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
