<p id="notice"><%= notice %></p>

<p>
  <b>Code customer:</b>
  <%= @customer.code_customer %>
</p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Type customer:</b>
  <%= @customer.Type_customer %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Geoloc:</b>
  <%= @customer.geoloc %>
</p>

<p>
  <b>Incharge:</b>
  <%= @customer.incharge %>
</p>

<p>
  <b>Plucking:</b>
  <%= @customer.plucking %>
</p>

<p>
  <b>Code customer:</b>
  <%= @customer.code_customer %>
</p>

<p>
  <b>Localc:</b>
  <%= @customer.localc %>
</p>

<p>
  <b>Document:</b>
  <%= @customer.document %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
