<h1>Listing number_calls</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @number_calls.each do |number_call| %>
  <tr>
    <td><%= number_call.number %></td>
    <td><%= number_call.name %></td>
    <td><%= link_to 'Show', number_call %></td>
    <td><%= link_to 'Edit', edit_number_call_path(number_call) %></td>
    <td><%= link_to 'Destroy', number_call, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Number call', new_number_call_path %>
