<h1>Listing wallets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date start</th>
    <th>Date end</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wallets.each do |wallet| %>
  <tr>
    <td><%= wallet.name %></td>
    <td><%= wallet.date_start %></td>
    <td><%= wallet.date_end %></td>
    <td><%= wallet.status %></td>
    <td><%= link_to 'Show', wallet %></td>
    <td><%= link_to 'Edit', edit_wallet_path(wallet) %></td>
    <td><%= link_to 'Destroy', wallet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wallet', new_wallet_path %>
