<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :type_address %><br />
    <%= f.text_field :type_address %>
  </div>
  <div class="field">
    <%= f.label :motive %><br />
    <%= f.text_field :motive %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :disable_date %><br />
    <%= f.datetime_select :disable_date %>
  </div>
  <div class="field">
    <%= f.label :geoloc %><br />
    <%= f.text_field :geoloc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
