<h1>Listing validations</h1>

<table>
  <tr>
    <th>Wallet</th>
    <th>Customer</th>
    <th>User</th>
    <th>Date sale</th>
    <th>Hour sale</th>
    <th>User validator</th>
    <th>Hour validator</th>
    <th>Observation</th>
    <th>Status</th>
    <th>Flag</th>
    <th>Line destiny</th>
    <th>Speedy destiny</th>
    <th>Cable destiny</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @validations.each do |validation| %>
  <tr>
    <td><%= validation.wallet.name %></td>
    <td><%= validation.customer.code_customer %></td>
    <td><%= validation.user.username %></td>
    <td><%= validation.date_sale %></td>
    <td><%= validation.hour_sale %></td>
    <td><%= validation.user_validator %></td>
    <td><%= validation.hour_validator %></td>
    <td><%= validation.observation %></td>
    <td><%= validation.status %></td>
    <td><%= validation.Flag %></td>
    <td><%= validation.line_destiny %></td>
    <td><%= validation.speedy_destiny %></td>
    <td><%= validation.cable_destiny %></td>
    <td><%= link_to 'Show', validation %></td>
    <td><%= link_to 'Edit', edit_validation_path(validation) %></td>
    <td><%= link_to 'Destroy', validation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Validation', new_validation_path %>
