<p id="notice"><%= notice %></p>

<p>
  <b>Wallet:</b>
  <%= @validation.wallet %>
</p>

<p>
  <b>Customer:</b>
  <%= @validation.customer %>
</p>

<p>
  <b>User:</b>
  <%= @validation.user %>
</p>

<p>
  <b>Date sale:</b>
  <%= @validation.date_sale %>
</p>

<p>
  <b>Hour sale:</b>
  <%= @validation.hour_sale %>
</p>

<p>
  <b>User validator:</b>
  <%= @validation.user_validator %>
</p>

<p>
  <b>Hour validator:</b>
  <%= @validation.hour_validator %>
</p>

<p>
  <b>Observation:</b>
  <%= @validation.observation %>
</p>

<p>
  <b>Status:</b>
  <%= @validation.status %>
</p>

<p>
  <b>Flag:</b>
  <%= @validation.Flag %>
</p>

<p>
  <b>Line destiny:</b>
  <%= @validation.line_destiny %>
</p>

<p>
  <b>Speedy destiny:</b>
  <%= @validation.speedy_destiny %>
</p>

<p>
  <b>Cable destiny:</b>
  <%= @validation.cable_destiny %>
</p>


<%= link_to 'Edit', edit_validation_path(@validation) %> |
<%= link_to 'Back', validations_path %>
