<p id="notice"><%= notice %></p>

<p>
  <b>Type response:</b>
  <%= @management_status.type_response %>
</p>

<p>
  <b>Response:</b>
  <%= @management_status.response %>
</p>

<p>
  <b>Detail response:</b>
  <%= @management_status.detail_response %>
</p>

<p>
  <b>Observation:</b>
  <%= @management_status.observation %>
</p>

<p>
  <b>Quailification:</b>
  <%= @management_status.quailification %>
</p>

<p>
  <b>Contact:</b>
  <%= @management_status.contact %>
</p>

<p>
  <b>Code telephony:</b>
  <%= @management_status.code_telephony %>
</p>

<p>
  <b>Code motive:</b>
  <%= @management_status.code_motive %>
</p>

<p>
  <b>Status:</b>
  <%= @management_status.status %>
</p>


<%= link_to 'Edit', edit_management_status_path(@management_status) %> |
<%= link_to 'Back', management_statuses_path %>
