<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table align="center">
<tr>
  <div class="field">
  <td><%= f.label :username %></td>
  <td><%= f.text_field :username %></td>
  </div>
</tr>
<tr>
  <div class="field">
  <td><%= f.label :password %></td>
  <td><%= f.password_field :password %></td>
  </div>
</tr>
<tr>
  <div class="actions">
  <td colspan="2" align="center"><%= f.submit :Ingresar %></td>
  </div>
</tr>
</table>

<% end %>
