<%= form_for(@management) do |f| %>
  <% if @management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@management.errors.count, "error") %> prohibited this management from being saved:</h2>

      <ul>
      <% @management.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :wallet_id %><br />
    <%= f.collection_select :wallet_id, Wallet.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="field">
	<%= f.label :customer_id %><br />
    <%= f.collection_select :customer_id, Customer.all, :id, :code_customer, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :code_plan_product %><br />
    <%= f.text_field :code_plan_product %>
  </div>
  <div class="field">
    <%= f.label :money %><br />
    <%= f.text_field :money %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :segment %><br />
    <%= f.text_field :segment %>
  </div>
  <div class="field">
	<%= f.label :current_package_id %><br />
    <%= f.collection_select :current_package_id, Current_package.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="field">
    <%= f.label :cycle %><br />
    <%= f.text_field :cycle %>
  </div>
  <div class="field">
    <%= f.label :mark %><br />
    <%= f.text_field :mark %>
  </div>
  <div class="field">
	<%= f.label :business_id %><br />
    <%= f.collection_select :business_id, Business.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="field">
	<%= f.label :rank_id %><br />
    <%= f.collection_select :rank_id, Rank.all, :id, :name, :prompt => true, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
