<p id="notice"><%= notice %></p>

<p>
  <b>Wallet:</b>
  <%= @management.wallet %>
</p>

<p>
  <b>Customer:</b>
  <%= @management.customer.code_customer %>
</p>

<p>
  <b>Code plan product:</b>
  <%= @management.code_plan_product %>
</p>

<p>
  <b>Money:</b>
  <%= @management.money %>
</p>

<p>
  <b>Status:</b>
  <%= @management.status %>
</p>

<p>
  <b>Segment:</b>
  <%= @management.segment %>
</p>

<p>
  <b>Current package:</b>
  <%= @management.current_package.name %>
</p>

<p>
  <b>Cycle:</b>
  <%= @management.cycle %>
</p>

<p>
  <b>Mark:</b>
  <%= @management.mark %>
</p>

<p>
  <b>Business:</b>
  <%= @management.business.name %>
</p>

<p>
  <b>Rank:</b>
  <%= @management.rank.name %>
</p>


<%= link_to 'Edit', edit_management_path(@management) %> |
<%= link_to 'Back', managements_path %>
